<h1>Все сухофрукты items/List</h1>
<h3>@Model.currCategory</h3>

<div class="row mt-5 mb-2">
    @{
        foreach (Item item in Model.AllItems)
        {
            @Html.Partial("AllItems", item)
        }
    }
</div>